.adventure-bucket-list {
    color:#283618;
}
.bucket-list-border {
    border-top: solid 5px #283618;
    margin-top: 20px;
}
.bucket-list-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 20px;
    padding: 10px;
    background-color: #fefae0;
}