.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: #fefae0;
    margin-bottom: 60px;
    
}
.adventure-counter {

display: flex;
justify-content: right;
align-items: center;
padding-right: 20px;
background-color: #606c38;
height: 50px;
color: #fefae0;
}