.login-form{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    border: 2px solid #283618;
    max-width: 400px;
    margin: 40px auto;
    position: relative;
    font-size: 20px;
    background-color: #fefae0;
}
.form-contents{
    display: flex;
    flex-direction: column;

}
.login-form label{
    padding-top:10px;
    margin: 5px;
}
.login-button {
    font-size: 20px;
    background-color: #606c38;
    color: #fefae0;
    max-width: 100px;
    position: relative;
    margin: 20px auto;
}