.profile-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(../../images/canyonLands.jpeg) no-repeat 50% 40%;
    background-size: cover;
    height: 400px;
    color: #283618;
    text-shadow: 2px 2px 3px #fefae0;

}

.adventure-elements{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.create-adventure-btn {
    font-size: 20px;
    box-shadow: 2px 2px 5px #283618;
    margin: 10px;
    padding: 10px;
    background-color: #dda15e;
    color: #283618;

}