.searchbar {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    width: 35%;
    border-radius: 25px;
    color: #283618;
}
@media (max-width: 1000px) {
    .searchbar {
        width: 60%
    }
  }

  .categories-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
  }