.burger-menu {
    width: 2rem;
    height: 2rem;
    position: fixed;
    top: 15px;
    right: 20px;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
}
.burger-menu div {
    width: 2 rem;
    height: .25rem;
    background-color: #333;
    border-radius: 10px;
}
@media (min-width: 799px) {
    .burger-menu{
    display: none;
    }
}